html,
body {
    padding: 0;
    height: auto;
    margin: auto;
    max-width: 1500px;
    position: relative;
    overflow-x: hidden;
    background-color: #D5D5D5;
    font-family: 'Poppins', sans-serif;
}

/*
1.  set > .header-container>svg {
        bottom: -171px;
    }
2.
 */

/*
----- header container styles
*/

.header-container {
    position: absolute;
    background-color: #ec6401;
    z-index: 1;
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 149px;
}

.header-container>svg {
    position: absolute;
    bottom: -200px;
    width: 100%;
    z-index: -1;
    height: 460px;
}

.header-container>h2 {
    margin: 50px 0px 0px 0px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.head {
    display: flex;
    display: -ms-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

.header-container>.head>nav>a {
    text-decoration: none;
    color: white;
}

.header-container>.head>nav>a:hover {
    color: rgb(219, 219, 219);
}

.head>header {
    font-size: 31px;
    margin-left: -45px;
}

.head>nav {
    width: 200px;
    display: flex;
    display: -ms-flex;
    justify-content: space-between;
}

/* section styles */
.body-section {
    margin-top: 337px;
    margin-bottom: 25px;
    display: flex;
    display: -ms-flex;
    z-index: 10;
    justify-content: center;
    position: relative;
}

.personal-profile {
    width: 230px;
    position: relative;
    padding-top: 15px;
    padding-right: 8px;
    padding-left: 8px;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    display: flex;
    display: -ms-flex;
    background-color: #F8F8F8;
    margin-right: 0;
    padding-bottom: 30px;
    box-shadow: 0px 1px 7px 1px #8080806b;
}

.personal-profile>img {
    width: 160px;
    height: 160px;
    border-radius: 100px;
}

.personal-profile-text {
    text-align: center;
}

.profile-container {
    width: 90%;
    display: flex;
}

.list-container {
    margin-left: 12px;
    padding: 10px;
    height: fit-content;
    width: 50%;
    background-color: #f8f8f8;
}

.list {
    margin: 2px;
}

.list>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list>ul>li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
    margin-bottom: 15px;
    box-shadow: 0px -1px 5px 1px #8e8e8eb8;
}

.single-profile {
    display: flex;
    margin-left: 8px;
    width: 87%;
}

.single-profile>img {
    margin-top: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid#573E8B;;
}

.single-profile>div {
    width: 100%;
    margin: 0 0px 0px 10px;
}

.single-profile>div>p:first-of-type {
    margin-top: 10px;
    font-size: 16px;
}

.single-profile>div>p:not(:first-of-type) {
    margin-top: 5px;
    margin-bottom: 5px;
}

.single-profile>div>p {
    font-size: 12px;
    margin: 0;
    width: 100%;
}

.ward-result-container{
    width: 30%;
}
.ward-result-container .single-profile>div{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.ward-subject{
    margin-top: 0 !important;
}

.button-section{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.dashboard-btn{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.dashboard-btn>button{
    width: 33%;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background-color: #ec6401;
    color: white;
}

footer {
    text-align: center;
    height: 75px;
    display: flex;
    display: -ms-flex;
    color: white;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    background-color: #ec6401;
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
    .header-container>svg {
        position: absolute;
        bottom: -161px;
    }
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
    .header-container>svg {
        position: absolute;
        bottom: -171px;
        width: 101%;
        z-index: -1;
        height: 200%;
        right: 0px;
    }
    .profile-container {
        width: 96%;
    }
}

@media only screen and (max-width: 800px) {
    .personal-profile {
        position: relative;
        width: 98%;
        margin-bottom: 20px;
    }

    .list-container {
        width: 98%;
        margin-left: 0;
    }

    .profile-container {
        width: 80%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .ward-result-container{
        margin-bottom: 20px;
    }
    .dashboard-btn{
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header-container {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .profile-container {
        width: 95%;
    }
    .dashboard-btn>button{
        width: 45%;
    }

    /* head responsiveness */
    .head{
        flex-direction: column;
    }
    .head>header{
        align-self: flex-start;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 450px) {
    .header-container>h2 {
        margin: 23px 0px 0px 0px;
    }

    .body-section {
        margin-top: 270px;
    }

    .head>header {
        font-size: 23px;
    }
    .dashboard-btn>button {
        width: 60%;
    }
}

@media only screen and (max-width: 370px) {
    .header-container>h2 {
        margin: 0px 0px 0px 0px;
    }

    .header-container>svg {
        position: absolute;
        bottom: -142px;
        width: 101%;
        z-index: -1;
        height: 167%;
        right: 0px;
    }
}